div.header {
    position: relative;
}

div.header .close-btn-container{
    background-color: white!important;
    width: 35px;
    height: 35px;
    position: absolute;
    top: -21px;
    right: -18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 11px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

div.header img {
    width: auto;
    height: auto;
    cursor: pointer;
}

div.body {
    /* display: flex;
    justify-content: center;
    align-content: center; */
    display: grid;
    grid-template-columns: 50% 50%;
    /* height: 500px; */
}

.left {
    padding: 20px 10px;
}

.top-left-img {
    width: 17px;
    height: 17px;
}

.title {
    color: #000;
    font-size: 21px;
    font-family: Trebuchet MS;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-top: 0px;
}

.next {
    margin-top: 15px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #D0D0D0;
    background: #224DE5;
    color: white;
    padding: 4px 0;
}


.right {
    padding: 15px;
    height: 100%;
}

.right .cover {
    background: url("/assets/authentication-img.png"), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: black;
    background-position: 50% 100%;
    padding: 40px 40px;
}

.top-text {
    font-size: 14px;
    color: #FFF;
    font-family: Palatino Linotype;
    font-weight: 500;
    line-height: 30px;
}

.bottom-text {
    margin-top: 40%;
    color: #FFF;
    font-size: 26px;
    font-family: Palatino Linotype;
    font-weight: 500;
    line-height: 35px;
    word-spacing: 4px;
}

.input-group{
    height: 30px;
}

 #addon-wrapping{
    padding: 10px;
}

form.editor-signup-form{
    margin-left: 10%;
}

.label-txt{
    font-size: 14px;
    color: #383838;
}
label{
    margin-bottom: 10px;
}


.user-already span.normal{
    font-size: 13px;
    font-weight: 600;
}
.user-already span.unormal{
    font-size:13px;
    color:blue;
    font-weight: 600;
    cursor: pointer;
}

#dob-container{
    position: relative;
}

#dob-container input[type=date]{
    transform: rotate(180deg);
  opacity:0;
  position:absolute;
top:0;
left:0;
  z-index:10;
  width: 100%;
}

input:disabled{
    background-color: white;
}

div.back{
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
    margin-left: -12%;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 10px;
}

div.back img{
    margin-right: 6px;
}
.tooltip-button{
    border:none;
    background: none;
}

