rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /requests/{n} {
      allow read: if true;
      // allow write: if request.resource.data.staff_id == "";
      allow write: if true;
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}