<ng-container>
    <div class="header">
        <img src="assets/close-btn.png" alt="" width="20" height="20">
    </div>
    <div class="body">
        <div class="left">
            <div class="container">
                <img src="assets/add-user.png" alt=""  class="top-left-img">
                <p class="title">{{title}}</p>
                <form action="" style="margin-top:15px">
                    <div class="admin-option">
                        <label for="admin-input">
                            <input type="radio" name="admin-input" id="admin-input">
                            <p>Admin</p>
                        </label>
                    </div>
                    <div class="editor-option">
                        <label for="editor-input">
                            <input type="radio" name="editor-input" id="editor-input">
                            <p>Editor</p>
                        </label>
                    </div>
                    <div class="next-container">
                        <button class="next" type="submit">Next</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="right">
            <div class="cover">
                <p class="top-text ">ECG ARCHIVES</p>
                <p class="bottom-text">We like to provide electric current at a best affordable price</p>
            </div>
        </div>
    </div>
</ng-container>