<ng-container>
    <!-- <app-login-signup-select *ngIf="!pressed" [login_signup]="loginSignup"></app-login-signup-select> -->
    <div class="frame">
        <div class="bigger">
            <div class="navbar">
                <ul class="navlist">
                    <li class="brand nav-link"><a href="#">ECG ARCHIVES</a></li>
                    <div class="right" >
                        <li class="nav-link"><a href="#">Manage Database</a></li>
                        <li class="nav-link"><a href="#">Admin Panel</a></li>
                        <li class="nav-link"><a href="#">Request For File</a></li>
                        <li class="login-button nav-link" (click)="openLogin()">
                            <a href="#">Log In</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <p class="large-txt"  >We delight in rendering the most accurate file requested</p>
        <p class="small-txt">We like to serve you better</p>
    </div>
    <div class="group-card">
        <div class="grid">
            <div class="card1">
                <div class="image-wrapper">
                    <img src="assets/efficient.png" alt="EFFICIENCY image" class="card1-img">
                </div>
                <p class="title">EFFICIENCY</p>
                <p class="writing">Efficiency in our archives is a multifaceted endeavor, encompassing
                    organization, accessibility, preservation, technology integration, workflow optimization, and
                    continuous improvement. By striving for excellence in our area, archives can achieve higher
                    levels of efficiency and effectively serve their intended purposes.</p>
            </div>
            <div class="card2">
                <div class="image-wrapper"><img src="assets/affordable.png" alt="AFFORDABLE image" class="card2-img">
                </div>
                <p class="title">AFFORDABLE</p>
                <p class="writing">While achieving absolute affordability for an archive may be challenging,
                    implementing cost-effective strategies, leveraging partnerships, and making informed decisions
                    regarding resource allocation can contribute to the financial sustainability and accessibility
                    of an archive while ensuring its core objectives are met.</p>
            </div>
            <div class="card3">
                <div class="image-wrapper"><img src="assets/reliable.png" alt="RELIABLE image" class="card3-img">
                </div>
                <p class="title">RELIABLE</p>
                <p class="writing">By implementing a reliable factor and adhering to recognized archival principles
                    and practices, our archives can maintain a high level of reliability, ensuring that the records
                    they preserve and provide access to are trustworthy, accurate, and authentic.</p>
            </div>
        </div>
    </div>
    <div class="middle-pic"></div>
    <div class="middle-header">
        <p class="big-title">Who are we? Meet our team!</p>
        <p class="caption">"We listen, advice, provide the best electricity service at an affordable price you would
            never get anywhere on this earth!!!"</p>
    </div>

    <div class="profiles">
        <div class="grid">
            <div class="cover">
                <div class="img-container">
                    <img src="assets/person1.png" alt="profile pic" class="profile profile1">
                </div>
                <p>Kofi Abrefa Gyan</p>
                <div class="description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Leo in vitae turpis massa sed. Lorem dolor
                    sed viverra ipsum nunc aliquet bibendum enim."</div>
            </div>

            <div class="cover">
                <div class="img-container">
                    <img src="assets/person2.png" alt="profile pic" class="profile profile2">
                </div>
                <p>Kofi Abrefa Gyan</p>
                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Leo in vitae turpis massa sed. Lorem dolor
                    sed viverra ipsum nunc aliquet bibendum enim.</div>
            </div>

            <div class="cover">
                <div class="img-container">
                    <img src="assets/person3.png" alt="profile pic" class="profile profile3">
                </div>
                <p>Kofi Abrefa Gyan</p>
                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Leo in vitae turpis massa sed. Lorem dolor
                    sed viverra ipsum nunc aliquet bibendum enim.</div>
            </div>



            <img src="assets/horizontal-line.png" class="middleLine">

            <div class="card-footer">
                <div class="iconPositionContainer">
                    <img src="assets/position.png" class="iconPosition iconPosition1">
                </div>
                <p class="job-title">Senior Administrative Assistant</p>
            </div>

            <div class="card-footer">
                <div class="iconPositionContainer">
                    <img src="assets/position.png" class="iconPosition iconPosition2">
                </div>
                <p class="job-title">Senior Administrative Assistant</p>
            </div>

            <div class="card-footer">
                <div class="iconPositionContainer">
                    <img src="assets/position.png" class="iconPosition iconPosition3">
                </div>
                <p class="job-title">Senior Administrative Assistant</p>
            </div>

        </div>
    </div>

    <div class="footerDiv"></div>
</ng-container>