/* @import url(./base.css); */

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
  /* height: 100%; */
}

body{
  padding: 0!important;
  margin: 0!important;
}
html{
  overflow-y: auto!important;
}