@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(./base.css); */

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: var(--light-system);
  /* height: 100%; */
}

body{
  padding: 0!important;
  margin: 0!important;
}
html{
  overflow-y: auto!important;
}

input:focus{
  outline: none;
}

 /* Apply styles to the scrollbar
 ::-webkit-scrollbar {
  width: 8px!important; 
  display: none;
}

.custom-scroll
{
  height: 20px;
}
.custom-scroll::-webkit-scrollbar {
  width: 8px!important; 
  display: block!important;
}

/* Remove the track (the background) */
/* .custom-scroll::-webkit-scrollbar-track {
  background-color: red;
  padding: 0 2%;
  display: none;
} */

/* Style the scrollbar handle */
/* .custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.671); 
  border: 0px solid #ffffff; 
  border-radius: 10px; 
  margin: 0 2%;
  display: none;
} */

/* Style the scrollbar handle on hover */
/* .custom-scroll::-webkit-scrollbar-thumb:hover {
  display: none;
} */

/* Remove the arrows at the ends of the scrollbar */
/* .custom-scroll::-webkit-scrollbar-button {
  display: none;
} */

/* *{
} */
:root{
  --dark_mode: rgb(9, 0, 19)!important;
  --dark_mode_2: rgb(31, 8, 58)!important;
  --app-bar: rgb(27, 27, 27);
  --app-bar-2: #ebebeb;
  --app-bar-3: rgb(0, 0, 27);
  --light-system: white;
  
}

.swiper {
  width: 100%;
}

/* .swiper-slide {
width:80% !important;
} */



/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

textarea {
  resize: none;
}

/* .swiper-slide {
  width: 60%;
} */
