.html, body{
    padding: 0;
    margin: 0;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

option{
    background-color: #ffffff;
    color: black;
}

.blue-accent:checked{
    accent-color: blue;
}

div#app{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
}

div.left{
    background-color: red;
    width: 8%;
    height: 30px; 
}

div.right{
    background-color: #362D47;
    width: 92%;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2.5%;
    padding-bottom: 2%;
}

div.horizontal-tab{
    display: grid;
    border-bottom: 0.2px solid #B9B4CB;
    padding-bottom: 5px;
    overflow-x: auto;
}

div.tab{
    text-align: center;
    font-size: 14px;
}

div.horizontal-tab:hover, div.tab:hover{
    cursor: pointer;
}

div.filters{
    padding-top: 20px;
    display: flex;
    column-gap: 40px;
}

div.search input[type=search]{
    background: none;
    border: 0.1px solid #777678;
    border-radius: 5px;
    padding: 6px 10px;
    width: 210px;
    color: white;
    font-size: 15.5px;
}



select#category{
    background: none;
    border: 0.1px solid #777678;
    border-radius: 5px;
    padding: 6px 10px;
    width: auto;
    color: white;
    font-size: 15.5px;
}

select#mode{
    background: none;
    border: 0.1px solid #777678;
    border-radius: 5px;
    padding: 6px 10px;
    width: auto;
    color: white;
    font-size: 15.5px;

}

table, th, td {
    border: 1px solid #6f6d79;
    border-collapse: collapse;
    padding: 10px;
    color: rgb(228, 228, 228);
  }

  .table-container {
    max-height: 75vh; /* Adjust the maximum height as needed */
    /* max-width: 600px; Adjust the maximum width as needed */
    overflow: auto;
    margin-top: 20px;
}

#database th{
    position: sticky;
  top: 0;
}

#database td{
    padding: 5px 20px;
    text-align: center;
}

th{
    background-color: #46405a;
    font-size: 12.5px;
}

input.read, input.read:focus{
    background: none;
    color: rgb(228, 228, 228);
    font-size: 12.5px;
    width:min-content;
    border: none;
    text-align: center;
    outline: none;
    font-weight: 600;
}

input#read-row.read, input#read-row.row:focus{
    background: none;
    color: rgb(228, 228, 228);
    font-size: 13.5px;
    width:min-content;
    border: none;
    text-align: center;
    outline: none;
    font-weight: 500;
}



input.write, input.write:focus{
    background: none;
    color: rgb(228, 228, 228);
    font-size: 12.5px;
    width:min-content;
    /* border: none; */
    text-align: center;
    outline: none;
    font-weight: 600;
    padding: 2px;
}

input#write-row.read, input#write-row.row:focus{
    background: none;
    color: rgb(228, 228, 228);
    font-size: 13.5px;
    width:min-content;
    /* border: none; */
    text-align: center;
    outline: none;
    font-weight: 500;
}



